/*
  Nota: si no usas el navbar, el siguiente código
  no es necesario
*/

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 70px;
}